/*

Style Guide 

Green: #3cddcc
Blue: #00abed
Light-blue: #b2e6fa
Blue-gray: 607279
Charcoal (fonts): #7a7a7a

Font: Proxima nova
Substitute: Open sans

*/

body {
	font-family: "Proxima Nova", "Open Sans", sans-serif !important;
	color:#7a7a7a;
}

.navbar-default {
  background-color: #FFF;
  border-color: transparent;
  color:#444;
}

.navbar-default * {color:#444 !important;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #EEE;
 }

.navbar-brand {
  padding: 5px 15px;
  height: 60px;
}


header {
	background:#FFF;
	color:#7a7a7a;
}
header .name {
	font-size: 3em !important;
	text-transform:none !important;
	margin-bottom:20px;
}
header .skills {
	display:block;
	margin-bottom:20px;
}

.section {
	padding:80px 25px 0px 25px;
	margin:0px;
}
.section * {text-transform:none;}
.sec1 {background:#3cddcc; 	color:#FFF;}
.sec1 h2 {margin:70px 0px 30px 0px;}
.sec2 {background:#00abed; 	color:#FFF;}
.sec2 h2 {margin:70px 0px 30px 0px;}
.sec3 {background:#FFF; padding:50px 20px;}
.sec4 {padding:20px; margin:0px; background:#607279; color:#FFF;}
.sec4 p {padding:0px; margin:0px; font-size:20px;}
.sec5 {padding:20px; margin:0px; background:#333; color:#fff;}
.sec5 p {font-size:16px;}
.sec5 a {color:#3cddcc;}
/* Styles */
.logo {max-height:50px;}
.gs-top {font-size:2.5em; background:#00abed; color:#FFF; border-radius:10px; padding:8px 15px;}
.gs-bottom {background:#FFF; color:#00abed; margin:0px 10px;}
a.gs-bottom:hover {color:#00abed;}
.rediculous {font-size:40px !important; float:left; padding:10px; margin:10px 5px 50px 5px;}
p.leave-space {padding:40px 0px;}
img.ht7 {height:100px;}
.quote {font-style:italic;}
.quote-author {display:block; font-style:none; text-align:right; font-weight:bold; padding-top:10px;}




